#purchase .mainText,
#new .mainText{
  width: 85%;
  margin: 0 auto;
  margin-top: 25px;
}
#purchase .mainText > p,
#new .mainText > p{
  color: #343434;
  font-size: 14px;
  text-align: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 5px 0 0 0;
}
.step{
  width: 99%;
  margin: 0 auto;
  margin-top: 35px;
}
.step > .titlewrap{
  width: 80%;
  margin: 0 auto;
}
.step > .titlewrap > h2{
  font-size: 18px;
  text-align: center;
  color: rgb(186, 27, 45);
  font-weight: bold;
}
.col{
  margin-top: 10px;
}
.stepWrap{
  width: 99%;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid rgb(186, 27, 45);
  height: 250px;
  background-color: #fff;
  position: relative;
}
@media only screen and (max-width: 320px) {
  .stepWrap{
    padding: 0 5px;
  }
}
.stepWrap::before{
  position: absolute;
  width: 87px;
  height: 25px;
  top: 10px;
  left: -1px;
  content: '';
}
.stepWrap p{
  font-size: 13px;
}
@media only screen and (max-width: 320px) {
  .stepWrap p{
    font-size: 12px;
  }
}
.step01::before{
  background: url(/images/step01.png);
  background-size: 87px 25px;
  background-repeat: no-repeat;
}
.step02::before{
  background: url(/images/step02.png);
  background-size: 87px 25px;
  background-repeat: no-repeat;
}
.step03::before{
  background: url(/images/step03.png);
  background-size: 87px 25px;
  background-repeat: no-repeat;
}
.step04::before{
  background: url(/images/step04.png);
  background-size: 87px 25px;
  background-repeat: no-repeat;
}
.stepicon{
  margin-top: 50px;
  text-align: center;
}
#purchase .col{
  margin-top: 20px;
}
#purchase h3{
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.cvPc{
  display: none;
}
.cvWrap{
  margin: 30px 0;
  padding: 15px 0;
  background-color: rgb(255, 180, 62);
  text-align: center;
}
.cvText{
  margin-bottom: 0px;
}
.cvSmall{
  margin-top: 1px;
  font-size: 10px;
}
.cvBtn{
  margin-top: 10px;
  width: 80%;
  height: 50px;
  background-color: #fff;
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(174,191,212,.26);
}
.termsOfUse{
  width: 85%;
  margin: 0 auto;
}
.termsOfUse > ol > li{
  font-size: 12px;
}

/* new */
.imagesNew,
.imagesText{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.imagesText{
  padding: 20px;
  padding-bottom: 0px;
  margin-top: 25px; /* 上書き */
}
.imagesText > h2{
  font-size: 20px;
}
.imagesText > ul > li{
  list-style-type: disc;
}